# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
#_sass/vendors
#assets/js/dist

# VSCode 개인 설정 폴더
.vscode/

# Jekyll 초안(draft) 폴더 (게시되지 않은 글들)
_drafts/